header {
    height: 5rem;
    /* background: #0001;
    backdrop-filter: blur(20px); */
    z-index: 9999;
    position: fixed;
    inset: 0 0 auto 0;
    width: 100vw;
    max-width: 100vw;
    backdrop-filter: blur(5px);
}

header * {
    color: #fff !important;
}


header nav a {
    /* text-shadow: 0 0 5px #0009; */
    font-size: 1.25rem;
}


/* PARA PANTALLAS MENORES A 400PX */
@media (width < 400px) {
    header {
        height: 4rem;
    }

    header .brand-name {
        font-size: 1.5rem;
    }

    header .brand-slogan {
        font-size: 0.675rem;
    }
}

@media (width < 900px) {

    header nav {
        display: none !important;
    }


}