#portada {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    /* margin-top: -4rem; */

    position: relative;
    padding: 2rem;
    background-attachment: fixed;
    position: relative;
    transition: transform 0.1s linear;
    will-change: transform;
    transform-style: preserve-3d;
}


#portada {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 1000px;
}

#background3d {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../img/portada_v.webp');
    /* background-image: url(https://img.freepik.com/foto-gratis/apartamento-moderno-lujo-comoda-decoracion-almohadas-generada-ia_188544-40143.jpg?t=st=1743350187~exp=1743353787~hmac=76cc5502e64665101ff1b591cac5f6059728bfac4fd3f8012f9f244c2738c7fe&w=1380); */
    background-size: cover;
    background-position: center;
    transition: transform 0.1s linear;
    will-change: transform;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#background3d:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #0009;
    z-index: 1;
}

#portada>* {
    color: #fff;
    z-index: 1;
    /* font-family: "Rubik Distressed";
    text-shadow: 0 0 5px #000 */
}

#portada>h1,
#portada>h2 {
    font-family: "Rubik Distressed";
    color: #fff;
    font-weight: 100;
    text-shadow: 0 0 5px #000, 0 0 25px #fbc26b;
}

#portada a {
    margin-top: 5rem;
    inset: auto 0 4rem 0;
    padding: 1rem 3rem;
    color: #fbc26b;
    border: solid 2px #fbc26b;
    font-weight: 600;
    font-size: 1.5rem;
    box-shadow: 0 0 15px #fbc26b;
    background-color: #0007;
}


#portada:after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    background-color: #0009;
    z-index: 0;
}


/*! SI ES MENOR A 999px  */
@media(width < 800px) {
    #portada h1 {
        font-size: 3.5rem;
    }

    #portada h2 {
        font-size: 2.75rem;
    }

    #portada a {
        font-size: 1.25rem;
    }
}


/*!-- SI ES MENOR A 500px */
@media(width < 550px) {
    #portada h1 {
        font-size: 2.5rem;
    }

    #portada h2 {
        font-size: 1.75rem;
        margin-top: 2rem;
    }

    #portada a {
        font-size: 1.15rem;
    }
}

/*!-- SI ES MENOR A 500px */
@media(width < 400px) {
    #portada h1 {
        font-size: 2rem;
    }

    #portada h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    #portada a {
        font-size: 1rem;
    }
}