#servicios {
    /* border: solid 1px red; */
    min-height: 100vh;
    max-height: max-content;
    padding: 1rem;
    width: clamp(300px, 100%, 1000px);
    margin: 0 auto;
}

#servicios .content-services {
    /* display: block; */
    /* border: solid 1px blue; */
    width: 100%;
    height: 100%;
    min-height: 100vh;
    grid-gap: 4rem 1rem;
}



#servicios .service .img {
    /* background: #f0f5; */
    width: 75%;
    height: calc(100% + 2rem);
    margin-top: -1rem;
    position: absolute;
    box-shadow: 0 0 5px #0003;
    background-color: #fff;
}

#servicios h1,
#servicios h2,
#servicios h3 {
    color: var(--titles);
}

.construccion .img,
.sanitaria .img {
    transform: skewY(-5deg);
}


.terminaciones .img,
.electricidad .img {
    right: 0;
    transform: skewY(5deg);

}

.construccion .description,
.sanitaria .description {
    grid-column: 2/3;

}

.construccion .img {
    background-image: url(../img/servicios/construccion.svg);
    background-size: cover;

}

.terminaciones .img {
    background-image: url(../img/servicios/terminaciones.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 00%;
}

.sanitaria .img {
    background-image: url(../img/servicios/sanitaria.svg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 20% 50%;
}

.electricidad .img {
    background-image: url(../img/servicios/electricidad.svg);
    background-size: cover;
    background-position: 25% 50%;
}




.description {
    border-radius: 10px;
    padding: 1rem;
    backdrop-filter: blur(10px);
    z-index: 1;
    border: solid 1px #fff5;
    background-color: #fff5;
}

.description h3 {
    text-align: center;
    font-size: 1.25rem;
}


@media(width < 999px) {
    #servicios .content-services {
        grid-template-columns: 1fr;
        max-width: 90%;
        grid-gap: 6rem !important;
        margin: 0 auto;
    }
}

@media(width < 600px) {

    /* Aumentar tamaño del cuadro de texto en pequeñas pantallas */
    .construccion .description,
    .sanitaria .description {
        margin-left: -4rem;
    }

    .terminaciones .description,
    .electricidad .description {
        margin-right: -4rem;
    }


}