#sobremi,
#nosotros {
    width: clamp(300px, 100%, 1000px);
    margin: 0 auto;
}

.persona {
    /* grid-template-columns: min-content auto; */
    max-width: max-content;
    padding: 1rem;
    position: relative;
    overflow: visible;
    /* box-shadow: 1rem 1rem var(--font-color), -1rem -1rem var(--primary); */
    box-shadow: -1px -1px 10px #fff, 1px 1px 5px #0005;
    transition: all ease-in-out 0.25s;
}

.persona:hover {
    transform: scale(1.09)
}

.persona img {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 5px #0005;
    grid-row: 1/3;
    border: solid 1px;
    filter: blur(3px);
}

/* .persona:before {
    content: "";
    position: absolute;
    inset: 1rem -1rem -1rem 1rem;
    background-color: var(--primary);
    z-index: -1;
} */


.persona .name {
    font-weight: 600;
    max-width: max-content;
    font-size: 1.25rem;

}

.persona .oficios {
    margin: 0;
}

.oficios span {
    background: #fff;
    padding: 0.1rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 5px;
    border: var(--border-light);
    display: inline-block;
}

.persona .contactos a {
    padding: 0 0 0 1rem;
    color: var(--link);
}

.persona .contactos a i {
    color: var(--font-color);
}

@media(width < 999px) {
    .presentacion {
        grid-template-columns: 1fr;
    }

}